* {
  box-sizing: border-box;
}

.titleContainer {
  font-family: "Courier New", Courier, monospace;
  color: white;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleContainer + .titleContainer {
  border-bottom: 2px solid yellow;
}
